<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.phonegap.proyectofinal"
        versionCode = "1" 
        version     = "1.0.0" >

    <name>Proyecto Final</name>

    <description>
        Proyecto Final de Taller de Aplicaciones Moviles Hibridas  2016-1  
    </description>

    <feature name="http://api.phonegap.com/1.0/camera"/>
    <feature name="http://api.phonegap.com/1.0/file"/>
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/media"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <plugin name="cordova-plugin-geolocation" spec="1.0.1" source="pgb" />
    <plugin name="org.apache.cordova.geolocation" spec="0.3.12" source="pgb" />
        
    </widget>
